.footer {
 background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
 &__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
   circle {
   transition: 0.3s ease;
    @media(any-hover: hover) {
      &:hover {
        fill: $lightgreen;
       }
    }
  }
 }
 &__body {
  display: flex;
  align-items: center;
  padding: 26px 0px 30px 40px;
  @media(max-width: $phone) {
    padding: 26px 0px 15px 20px
  }
 }
 &__inner {
  display: flex;
  align-items: center;
 }
 &__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 5rem;
  flex-wrap: wrap;
  @media(max-width: $tabletlg) {
    gap: 20px;
  }
  @media(max-width: $phone) {
    display: none;
  }
 }
 &__item {
  list-style: none;
  a {
   font-size: 19px;
   color: #fff;
   line-height: 24px;
   font-weight: 400;
   transition: color 0.3s ease;
   @media(max-width: $tabletlg) {
    font-size: 17px;
   }
   @media(any-hover: hover) {
     &:hover {
      color: $lightgreen
     }
   }
  }
 }
}

.information-footer {
 display: flex;
 flex-direction: column;
 align-items: flex-start;

 &__logo {
  margin-bottom: 15px;
 }
 &__author {
  font-size: 12px;
  line-height: 14px;
  color: #CFCFCF;
  margin-bottom: 7px;
  @media(max-width: $phone) {
    font-size: 10px;
  }
 }
 &__link {
  font-size: 14px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @media(max-width: $phone) {
    font-size: 12px;
  }
 }
}

